<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1-2 构造函数注入基本数据类型 -->
    <bean id="bookDao" class="dao.impl.BookDaoImpl" autowire="byType">
        <constructor-arg name="databaseName" value="mysql"/>
        <constructor-arg name="connectionNum" value="8"/>
    </bean>
    <bean id="userDao" class="dao.impl.UserDaoImpl"/>

    <!-- 2-2 构造注入引用数据类型 -->
    <bean id="databaseService" class="service.impl.DatabaseServiceImpl">
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

</beans>

